.box{
  display: flex;
  flex-direction: column;
  height: 100%;
  // width: 40%;
  overflow: auto;
  .button{
    display: flex;
    justify-content: space-between;
    .iconJia{
      width: 15px;
      height: 15px;
      padding:0 3px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}

// tr {
//   height: 125px; /* 设置单元格的高度 */
//   overflow: hidden; /* 控制文本溢出时的显示方式 */
// }
.list {
  height: 600px; /* 设置容器的固定高度 */
  overflow-y: auto; /* 控制容器的垂直滚动 */
}
:global{
  .ant-table {
    min-height: 520px !important;
  }
}
