.testBase{
  padding: 10px;
  header{
    display: flex;
    justify-content: space-between;
  }
  main{
    .testName{
      height: 40px;
      line-height: 40px;
    }
    .testContent{
      height: 100%;
      .newTest{
        height: 40px;
      }
    }
  }
}