@import "../../index.scss";
// 头部高度
$up_height: 100px;
.home {
  height: 100%;
  background: $grayBackground;
  overflow: auto;
}
.up {
  width: 100%;
  height: $up_height;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.box {
  display: flex;
  height: calc(100% - $up_height);
  overflow: hidden;
  .left {
    width: 300px;
    height: 100%;
  }
  .right {
    flex: 1;
  }
}
.list {
  display: none;
}
.showIco {
  display: none;
}
.listShow {
  position: fixed;
  height: 100%;
  width: 100px;
  background: $grayBackground;
  z-index: 9;
}
/* 媒体查询 */
// @media screen and (max-width: 1200px) {
//   .box{
//     .left{
//       display: none;
//     }
//   }
//   .showIco{
//     display: block;
//   }
// }

// @media screen and (max-width: 480px) {
//   .item {
//     width: 100%;
//   }
// }
