@import "../../index.scss";
.box{
    width: 100%;
    height: 100%;
    padding: 2rem;
    .menu{
        background: #FFFFFF;
        width: 100%;
        height: auto;
        header{
            width: 100%;
            height: 3rem;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            p{
                width: 6rem;
                padding: 0.3rem 0;
                background: #40A9FF;
                color: white;
                text-align: center;
                border-radius: 3px;
            }
        }
        main{
            padding: 0 2rem;
            
            nav{
                display: flex;
                background: #FAFAFA;
                height: 3rem;
                align-items: center;
                p{
                    width: calc(100% / 5);
                    border-left: 1px solid #EBEBEB;
                    padding-left: 5px;
                    &:first-child{
                        border: none;
                    }
                }
            }
            ul{
                li{
                    display: flex;
                    height: auto;
                    align-items: center;
                    border-bottom: 1px solid #EBEBEB;
                    flex-direction: column;position: relative;
                    &:first-child{
                        border-top: 1px solid #EBEBEB;
                    }
                    div{
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
                    .lis{
                        width: 100%;
                        display: flex;
                        // display: none;
                        p{
                            width: calc(100% / 5);
                            padding-left: 5px;
                            &:first-child{
                                padding-left: 30px;
                            }
                            span{
                                margin-left: 8px;
                                color: #40A9FF;
                            }
                        }
                    }
                    .tops{
                        width: 100%;
                        display: flex;
                        div{
                            width: calc(100% / 5);
                            padding-left: 5px;
                            position: relative;
                            input{
                                width: 90%;
                                height: 30px;
                                position: absolute;
                                left: 0;
                            }
                            &:first-child{
                                display: flex;
                                align-items: center;
                                button{
                                    width: 1.3rem;
                                    height: 1.3rem;
                                    margin-right: 2px;
                                    background: #FFFFFF;
                                    border: 1px solid hsl(0, 0%, 92%);
                                }
                                span{
                                    flex: 1;
                                    display: inline-block;
                                    position: relative;
                                    color: black;
                                    display: flex;
                                    align-items: center;
                                    input{
                                    width: 90%;
                                    height: 30px;
                                    position: absolute;
                                    left: 0;
                                }
                                }
                                
                            }
                            span{
                                margin-left: 8px;
                                color: #40A9FF;
                            }
                        }
                    }
                }
            }
        }
    }
    .addMenu{
        position: absolute;
        right: 0;
        top: 0;
        width: 50rem;
        height: 100%;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        b{
            color: red;
            font-weight: normal;
        }
        input{
            border-radius: 3px;
            height: 2.3rem;
            border-color: #D9D9D9;
            color: #D9D9D9;
            margin-top: 1rem;
            padding: 0 9px;
        }
        .top{
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            padding-left: 2rem;
            border-bottom: 1px solid #EBEBEB;
        }
        .body{
            flex: 1;
            padding: 24px;
            .menuLevel{
                display: flex;
                flex-direction: column;
                span{
                    display: block;
                    width: 14.1rem;
                    height: 2.3rem;
                    border: 1px solid #EBEBEB;
                    position: relative;
                    &:hover{
                        border-color: #40A9FF;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 7px;
                        top: 8px;
                    }
                    ul{
                        width: 100%;
                        position: absolute;
                        top: 36px;
                        left: 0;
                        z-index: 2;
                        background: #FFFFFF;
                        border: 1px solid #EBEBEB;
                        border-top: 0;
                        display: flex;
                        flex-direction: column;
                        li{
                            width: 100%;
                            height: 1.5rem;
                            line-height: 1.5rem;
                            padding-left: 5px;
                            &:hover{
                                background: #F5F5F5;
                            }
                        }
                    }
                }
            }
            .menuMiddle{
                margin-top: 1rem;
                display: flex;
                .menuName{
                    div{
                        display: flex;
                        align-items: center;
                        b{
                            margin-right: 5px;
                        }
                        span{
                            margin-left: 5px;
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            border: 1px solid #8C8C8C;
                            color: #8C8C8C;
                            border-radius: 50%;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                    input{
                        width: 14rem;
                        border: 1px solid;
                    }
                }
                .hover{
                    margin: 0 30px;
                    select{
                        width: 6rem;
                    }
                }
                .permissionMenuType{
                    select{
                        width: 6rem;
                    }
                }
            }
            .naviga{
                margin-top: 1rem;
                div{
                    display: flex;
                    align-items: center;
                    b{
                        margin-right: 5px;
                    }
                    p{
                        margin-left: 5px;
                        width: 16px;
                        height: 16px;
                        border: 1px solid #8C8C8C;
                        color: #8C8C8C;
                        border-radius: 50%;
                        text-align: center;
                        font-size: 12px;
                    }
                }
                input{
                    width: 20rem;
                    border: 1px solid;
                }
            }
        }
        .foot{
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            border-top: 1px solid #EBEBEB;
            display: flex;
            justify-content: end;
            align-items: center;
            p{  
                width: 4.5rem;
                height: 2rem;
                margin-right: 20px;
                border: 1px solid #EBEBEB;
                line-height: 2rem;
                text-align: center;
                border-radius: 3px;
                &:last-child{
                    background: #40A9FF;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.active1{
    border-color: #40A9FF;
}